<script>
    function getUserid(i) {
      window.friendid = JSON.stringify(i);
    }
</script>
<script>window.userid=JSON.stringify("<%= userid %>")</script>
<script src="socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
<script src="/javascripts/client/chat.js"></script>
<script src="/javascripts/client/onclose.js"></script>
<div id="chatboard"></div>
<div id="friendslist">
<table id="friendstable" border="1" width="65">
  <% 
  for (var i=0, len = user_list.length;i<len;i++) { 
  %>
    <% 
    if (user_list[i].userid != userid) { 
    %>
      <tr><td><button type="button" class="friendsbutton" onclick="getUserid('<%= user_list[i].userid %>')"><%=user_list[i].username%></button></td></tr>
    <% } %>
  <% } %>
</table>
</div>
<div class="controls">
    <p>Name:<%=username%></p><br/>
    <input id="field" style="width:350px;"/>
    <input id="send" type="button" value="send"/>
</div>