extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/input', method='post')
    |Name
    input(type='text', name='name')
    |Url
    input(type='text', name='url')
    |Alexa
    input(type='text', name='alexa')
    |Country
    input(type='text', name='country')
    input(type='submit', value='submit')
  table(border='1')
    - for(var i=0; i<3; i++)
        tr
          - for(var j=0; j<3; j++)
            td  