<body>
    <h1></h1>
    <p>Welcome to </p>
    <form action="/users/login" method="post">
      <table border="0">
        <tr>
          <td>用户名</td>
          <td>
            <input id="username" type="text" name="username"/>
          </td>
        </tr>
        <tr>
          <td>密码</td>
          <td>
            <input id="password" type="password" name="password"/>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <input id="login" type="submit" value="login"/><a href="/users/signup">注册</a>
          </th>
        </tr>
      </table>
    </form>
</body>
