#chatboard {
  width: 500px; 
  height: 300px; 
  margin: 0 0 20px 0;
  border: solid 1px #999; 
  overflow-y: scroll;
  float:left;
}

#friendslist {
  width: 85px;
  height:300px; 
  margin: 0 0 20px 0; 
  border: solid 1px #999;
  overflow-y: scroll;
  overflow-x: hidden;
}

#friendstable {
  margin: auto;
}

button.friendsbutton {
  margin: auto;
}